bin
obj
*.user
*.suo
*.log
*.bak
*.ncrunchproject
*.ncrunchsolution
*.crunchproject.local.xml
*.crunchsolution.local.xml
*.crunchsolution.cache
*.dotCover
*.DotSettings
Thumbs.db
Debug/
Release/
Build/
_ReSharper*/
_NCrunch*/
myAppSettings.config
packages
!packages/**/*.targets
.build/*
